@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400;500&display=swap');

* {
    /* margin: 0px;
    padding: 0px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 150px;
}

.nav-items {
    padding: 0 20px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    font-size: 1.2rem;
}

.nav-items>ul>li {
    margin: 10px;
    padding: 10px;
}

.search {
    /* display: inline-block; */
    /* margin: 5px 0; */
    padding: 10px 50px;
    border: 1px solid black;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 15rem;
}

.res-card > h4 {
    padding: 2px 0px;
    margin: 5px;
    font-size: 0.8rem;
}

.res-card > h3 {
    padding: 3px 0px;
    margin: 5px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-logo {
    width: 80%;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap ;
}

.shimmer-card {
    margin: 5px;
    padding: 5px;
    width: 15rem;
    background-color: #f0f0f0;
}